:root[data-theme="LIGHT"] {
    --scroll-color: #B7BDC6;
    --scroll-Bg: #FFFFFF;
    --color-BasicBg: #FFFFFF;
    --color-SecondaryBg: #FAFAFA;
    --color-CardBg: #FFFFFF;
    --color-Input: #F5F5F5;
    --color-InputLine: #DDDDDD;
    --color-Vessel: #FAFAFA;
    --color-Line: #EDEDED;
    --color-BorderLine: #EAECEF;
    --color-DisableBtn: #DDDDDD;
    --color-DisableText: #BFBFBF;
    --color-TertiaryText: #9C9C9C;
    --color-SecondaryText: #757575;
    --color-PrimaryText: #000000;
    --color-EmphasizeText: #FF693D;
    --color-TextOnGray: #EDEDED;
    --color-TextOnYellow: #000000;
    --color-IconNormal: #9C9C9C;
    --color-Placeholder: #BFBFBF;
    --color-FooterText: #1E2329;
    --color-BtnBg: #FCD535;
    --color-ButtonText: #202630;
    --color-PrimaryYellow: #F0B90B;
    --color-TextLink: #D89F00;
    --color-BadgeBg: rgba(240, 185, 11, 0.1);
    --color-TagBg: #EDEDED;
    --color-Grid: #EDEDED;
    --color-Popup: #FFFFFF;
    --color-PopupBackground: rgba(0, 0, 0, 0.6);
    --color-Mask: rgba(0, 0, 0, 0.6);
    --color-ToastBg: #4F4F4F;
    --color-ContainerBg: #FAFAFA;
    --color-WidgetSecondaryBg: rgba(0, 0, 0, 0.04);
    --color-Error: #F6465D;
    --color-ErrorBg: rgba(246, 70, 93, 0.1);
    --color-Success: #2EBD85;
    --color-SuccessBg: #E6FFF1;
    --color-Sell: #F6465D;
    --color-SellHover: #F6465D;
    --color-TextSell: #F6465D;
    --color-DepthSellBg: #FEF1F2;
    --color-Buy: #2EBD85;
    --color-BuyHover: #2EBD85;
    --color-TextBuy: #2EBD85;
    --color-DepthBuyBg: #E6FFF1;
    --color-YellowAlpha01: rgba(252, 213, 53, 0.1);
    --color-YellowAlpha02: rgba(252, 213, 53, 0.2);
    --color-RedAlpha01: rgba(246, 70, 93, 0.1);
    --color-RedAlpha02: rgba(246, 70, 93, 0.2);

    --shadow1-layer1: 0px 1px 6px rgba(24, 26, 32, .1);
    --shadow1-layer2: 0px 3px 6px rgba(71, 77, 87, .04);
    --shadow2-layer1: 0px 8px 32px rgba(17, 17, 26, .05);
    --shadow2-layer2: 0px 4px 16px rgba(17, 17, 26, .1);
    --shadow2-layer3: inset 0px 0px 0px transparent;
}

:root[data-theme="DARK"] {
    --scroll-Bg: #202630;
    --scroll-color: #4F5867;
    --color-BasicBg: #181A20;
    --color-SecondaryBg: #0B0E11;
    --color-CardBg: #202630;
    --color-Input: #29313D;
    --color-InputLine: #434C5A;
    --color-Vessel: #29313D;
    --color-Line: #333B47;
    --color-BorderLine: #474D57;
    --color-DisableBtn: #29313D;
    --color-DisableText: #4F5867;
    --color-TertiaryText: #707A8A;
    --color-SecondaryText: #929AA5;
    --color-PrimaryText: #EAECEF;
    --color-RedGreenBgText: #FFFFFF;
    --color-EmphasizeText: #FF693D;
    --color-TextOnGray: #EAECEF;
    --color-TextOnYellow: #202630;
    --color-IconNormal: #707A8A;
    --color-Placeholder: #434C5A;
    --color-FooterText: #EAECEF;
    --color-LiteBg1: #202630;
    --color-LiteBg2: #191A1F;
    --color-TwoColorIcon: #CACED3;
    --color-BtnBg: #FCD535;
    --color-ButtonText: #202630;
    --color-PrimaryYellow: #F0B90B;
    --color-TextLink: #F0B90B;
    --color-TextToast: #F0B90B;
    --color-TradeBg: #0B0E11;
    --color-BadgeBg: rgba(240, 185, 11, 0.1);
    --color-TagBg: #434C5A;
    --color-Grid: #333B47;
    --color-Popup: #333B47;
    --color-PopupBackground: rgba(11, 14, 17, 0.6);
    --color-Mask: rgba(11, 14, 17, 0.6);
    --color-ToastBg: #4F5867;
    --color-ContainerBg: #29313D;
    --color-WidgetSecondaryBg: rgba(193, 204, 219, 0.08);
    --color-WidgetPrimaryBg: rgba(122, 148, 178, 0.1);
    --color-LineAlpha: rgba(193, 204, 219, 0.08);
    --color-Error: #F6465D;
    --color-ErrorBg: rgba(246, 70, 93, 0.1);
    --color-Success: #2EBD85;
    --color-SuccessBg: #102821;
    --color-Sell: #F6465D;
    --color-SellHover: #F6465D;
    --color-TextSell: #F6465D;
    --color-DepthSellBg: #35141D;
    --color-Buy: #2EBD85;
    --color-BuyHover: #2EBD85;
    --color-TextBuy: #2EBD85;
    --color-DepthBuyBg: #102821;
    --color-YellowAlpha01: rgba(252, 213, 53, 0.1);
    --color-YellowAlpha02: rgba(252, 213, 53, 0.2);
    --color-RedAlpha01: rgba(246, 70, 93, 0.1);
    --color-RedAlpha02: rgba(246, 70, 93, 0.2);
    --color-GreenAlpha01: rgba(46, 189, 133, 0.1);
    --color-GreenAlpha02: rgba(46, 189, 133, 0.2);
    --color-ChatBg: #1A1E25;
    --color-ChatBubble: #29313D;
    --color-ChatBubble2: #2D3E59;
    --color-ChatInput: rgba(41, 49, 61, 0.95);
    --color-ChatName: #F0B90B;
    --color-ChatSysMsg: #1C2229;
    --color-ChatCard: #212731;
    --color-ChatCard2: #243042;
    --color-ChatRed: #30222B;
    --color-ParagraphText: #EAECEF;

    --shadow1-layer1: 0px 0px 1px rgba(94, 102, 115, .8);
    --shadow1-layer2: 0px 3px 6px rgba(0, 0, 0, .04);
    --shadow2-layer1: -2px 0px 14px rgba(0, 0, 0, .4);
    --shadow2-layer2: 0px 0px 6px rgba(0, 0, 0, .2);
    --shadow2-layer3: inset 0px 0px 2px rgba(255, 255, 255, .2);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-color) var(--scroll-Bg);
}